rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Test ortamı için geçici açık rules
    match /{document=**} {
      allow read, write: if true;
    }
  }
} 